
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}


#root{
  height: 100%;
  width: 100%;
}
body{
  min-height: 100vh;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  margin: auto;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  color: white;
  font-family: monospace;
  border: 1px solid white;
}


.details{
  font-size: 40px;
}
.read-the-docs {
  color: #888;
}
